@import "imports";

@font-face {
    font-family: "SourceSansPro";
    src: url(../fonts/SourceSansPro-Light.ttf) format("truetype");
    font-style: normal;
}

html,
body {
    height: 100%;
    width: 100%;
    background: $gray;
}

#app {
    font-family: 'SourceSansPro', sans-serif;
    position: relative;
}

.header {
    display: table;
    width: 100%;
    background: $brand-danger;

    &__name {
        display: table-cell;
        width: 75%;
        padding: 0.75em;

        h1, h2 {
            margin: 0;
            font-size: 1.25em;
            color: #fff;
            letter-spacing: -0.5px;
        }
    }

    &__actions {
        display: table-cell;
        width: 25%;
        padding: 0 0.5em;
        background: darken($brand-danger, 5%);

        &__list {
            list-style-type: none;
            padding-left: 0;
            margin: 0;
            text-align: center;

            li {
                display: inline-block;

                + li {
                    margin-left: 5px;
                }
            }
        }

        a {
            color: #fff;
            display: block;
        }
    }
}

.content {
    padding: 2em 0.75em;
    background: $gray;
}

.heart {
    font-size: 7.5em;
    text-align: center;

    #send-heartbeat {
        display: none;

        &:checked {
            + a {
                &:before {
                    content: "\e143";
                }
            }
        }

        + a {
            @extend .glyphicon;

            &:before {
                content: "\e005";
            }
        }
    }

    a {
        color: #FF4949;
    }
}

.footer {
    padding: 0.75em;
    background: #fff;
    position: relative;

    &__actions {
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        font-size: 0.8em;

        li {
            display: inline-block;

            a {
                color: #333;
            }
        }
    }

    .author {
        position: absolute;
        right: 0.75em;
        top: 0.75em;
        color: #999;
    }
}

.settings {
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;

    &--is-visible {
        visibility: visible;
        opacity: 1;
    }

    .content {
        padding-top: 0.75em;
        padding-bottom: 0.75em;
    }

    .actions {
        @extend .clearfix;
    }

    input[type='text'] {
        color: #333;
    }

    .input-group-addon {
        color: #333;
    }

    #reset-settings {
        font-size: 0.7em;
        color: #333;
        display: block;
        padding: 5px;
    }

    #save {
        float: right;
    }
}