@import "variables";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "theme";
@import "animate";

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Light.ttf) format("truetype");
    font-style: normal;
}

html,
body {
    background-color: transparent;
}

#app {
    padding: 1em;
    font-family: 'Open Sans', sans-serif;
}

.additional-info {
    text-align: right;

    li {
        font-size: 0.75em;
        display: block;
    }
}

.heartbeat__value {
    font-style: italic;
}

.heart {
    color: red;
    padding: 0 2.5px;
}

.actions {
    @extend .form-group;

    text-align: right;
}

.checkbox {
    input {
        margin-top: 5px;
    }

    label {
        font-size: 1.25em;
    }
}

.model {
    background: rgba(255, 255, 255, 0.85);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;

    &.animated {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

#save {
    display: none;
}