@import "kube";

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Light.ttf) format("truetype");
    font-style: normal;
}

#app {
    padding: 1em;
    font-family: 'Open Sans', sans-serif;
}

.forms {
    margin-bottom: 15px;

    section {
        margin-bottom: 15px;
    }
}

input {
    &[type="email"], &[type="number"], &[type="search"], &[type="text"], &[type="tel"], &[type="url"], &[type="password"] {
        font-family: 'Open Sans', sans-serif;
    }
}

textarea, select {
    font-family: 'Open Sans', sans-serif;
}

label .error {
    display: none;
}

section.has-error .error {
    display: inline-block;
}

.form-group.has-error .help-block {
    display: block;
}

.additional-info {
    text-align: right;

    li {
        font-size: 0.75em;
        display: block;
    }
}

.heartbeat__value {
    font-style: italic;
}

.heart {
    color: red;
    padding: 0 2.5px;
}

.actions {
    text-align: right;
}