#app {
    padding: 1em 0;
}

.form-group .help-block {
    display: none;
}

.form-group.has-error .help-block {
    display: block;
}

.author,
.heartbeat,
.debug {
    margin-top: 15px;
    text-align: right;
    font-size: 0.75em;
}

.heartbeat__value {
    font-style: italic;
}

.heart {
    color: red;
}